.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-bottom: 20px;

  &-title {
    margin: 0;
    display: inline;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #9393A3;
  }

  &-description {
    display: block;
    margin: 0;
    margin-top: 8px;

    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: #191919;

    line-height: 140%;

  }
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include on-desktop {
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
