.contact-us {
  &__form {
    display: grid;
    width: 100%;
    grid-template-rows: 48px 48px 148px;
    row-gap: 16px;
  }

  &__form--input {
    box-sizing: border-box;

    padding-block: 14px;
    padding-left: 16px;
    border: 0;
    border-radius: 8px;

    background-color: #f8f8fa;

    @include on-desktop {
      width: 411px;
      justify-content: left;
    }
  }

  &__form--input:hover {
    border: 1px solid #D5D7DE;

    &::placeholder {
      color: $main-text-color;
    }
  }

  &__form--textarea {
    border: 0;
    border-radius: 8px;

    background-color: #f8f8fa;

    box-sizing: border-box;
    padding: 14px 16px;

    @include on-desktop {
      width: 411px;
      justify-content: left;
    }
  }

  &__form--textarea:hover {
    border: 1px solid #D5D7DE;

    &::placeholder {
      color: $main-text-color;
    }
  }

  &__button {
    margin-top: 32px;

    font-size: 16px;
    line-height: 27px;
    font-style: Bold;

    height: 56px;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    background-color: $main-text-color;

    transition: 0.3s;

    @include on-desktop {
      width: 411px;
      justify-content: left;
    }

    &:hover {
      background-color: #F0F1F4;
      color: $main-text-color;
      border: #F0F1F4;
    }

    &:focus {
      background-color: #111;
      color: #fff;
    }
  }
}
